.task__list {
    list-style: none;
    padding:0;
}

.task--done {
    text-decoration: line-through;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.list__item--done{
    display: none;
}

.list__button--done {
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: hsl(120, 100%, 25%);
    color: white;
    border: none;
    transition: 0.5s;
}

.list__button--done:hover {
    background-color: hsl(120, 99%, 30%);
}

.list__button--done:active {
    background-color: hsl(120, 98%, 35%);
}

.button__removeTask {
    background-color: hsl(348, 83%, 47%);
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    transition: 0.5s;
}

.button__removeTask:hover {
    background-color: hsl(348, 80%, 57%);
}

.button__removeTask:active {
    background-color: hsl(348, 89%, 67%);
}