html {
  box-sizing: border-box;
  height: 100%
}

*, ::after ::before {
  box-sizing: inherit
}

body {
  background-color: rgb(219, 219, 219);
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  word-break: break-word
}