.html {
  box-sizing: border-box;
  height: 100%;
}

*, ::after ::before {
  box-sizing: inherit;
}

.body {
  background-color: rgb(233, 231, 231);
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
}